@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: "Cabin", Arial, sans-serif;
 color: #ffffff;
 background-color: #108a93; 
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lobster', cursive;
}

a {
  color: #00B7FF;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

lengend {
  font-family: 'Lobster', cursive;
}
